@font-face {
  font-family: iransans;
  src: url('./font/IRANSansWeb.ttf');
}

* {
  text-align: center;
  box-sizing: border-box;
  font-family: iransans;
}

.main {
  overflow: hidden;
  position: relative;
  color: white;
  padding: 7.5px;
  margin: auto;
  width: 95vw;
  min-height: 50vh;
  /* background-color: #2c3333; */
  background: linear-gradient(
    90deg,
    rgba(184, 0, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 15px;
}

.day {
  background-color: #01313f;
  /* border: 1px solid #111; */
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 1px 2px #222;
}

.day h3,
p {
  margin: 3px 0;
}

.hi {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  color: #111;
  font-size: 20px;
}

.hi svg {
  filter: invert();
}

svg {
  filter: opacity(90%);

  filter: drop-shadow(1px 1px 1px #333);

  height: 30px;
  width: 30px;
}

.delete-icon {
  margin-left: 3%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 300px;
  margin-bottom: 60px;
}

.task {
  width: 95%;
  background: linear-gradient(
    90deg,
    rgba(255, 171, 0, 1) 0%,
    rgba(227, 255, 0, 1) 100%
  );
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #222;
  display: flex;
  color: #000;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 3%;
  margin: 5px 0;
}

.add-task {
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #01313f;
  padding: 3% 3%;
  border: none;
  /* border-radius: 10px; */
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  gap: 4%;
  position: absolute;
}

.add-task input,
button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #e7f6f2;
}

.add-task button {
  background-color: rgb(255, 0, 50);
  color: #eee;
  font-size: 18px;
}

.login-modal {
  z-index: 50;
  box-shadow: 1px 1px 10px 5px #111;
  display: flex;
  flex-direction: column;
  background-color: #a5c9ca;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 350px;
  height: 50vh;
  width: 50vw;
  gap: 20px;
  border-radius: 10px;
  position: absolute;
  left: 25vw;
  top: 25vh;
}

.login-modal input {
  background-color: #e7f6f2;
  width: 100%;
  text-align: right;
  padding: 20px 10px;
  border-radius: 5px;
  border: none;
  background-color: #e7f6f2;
}

.login-modal button {
  padding: 10px 0;
  width: 50%;
  background-color: #395b64;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.edit-modal {
  z-index: 51;
  box-shadow: 1px 1px 10px 5px #111;
  display: flex;
  flex-direction: column;
  background-color: #a5c9ca;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 30%;
  min-height: 200px;
  width: 50%;
  gap: 20px;
  border-radius: 10px;
  position: absolute;
  left: 25vw;
  top: 25vh;
}

.edit-modal input {
  width: 100%;
  background-color: #e7f6f2;
  text-align: right;
  padding: 20px 10px;
  border-radius: 5px;
  border: none;
}

.edit-modal button {
  padding: 10px 0;
  width: 50%;
  background-color: #395b64;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.is-blurred {
  filter: blur(3px);
}

.hidden {
  display: none;
}

.add-task input {
  text-align: right;
}

.add-task button:hover {
  cursor: pointer;
  background-color: rgb(165, 165, 165);
}

.add-task button:active {
  background-color: white;
}

.add-task :nth-child(2) {
  text-align: center;
}
